<!-- @format -->
<%- include('../partials/base.ejs', { constants }) %>

<body>
   <div class="container">
      <div class="header">
         <h2 class="title">I'm Haseeb.</h2>
         <p class="quick-bio">
            17 Years Old. Living in Birmingham, England. Millionaire by 21,
            married by 21, in Dubai at 21. Dream life, Insha'Allah
         </p>
      </div>
      <div class="main">
         <br />
         <h2>My Skills</h2>
         <p>
            Programmer. Excellent Salesman. Business Strategist. Team/People
            Management. Copywriter. Philosopher.
            <a href="/quotes">My quotes.</a>
         </p>
         <br />
         <h2>Future Ambitions/Endeavours</h2>
         <p>Author, Stock trader, Cars, Hench.</p>
         <br />
         <h2>How To Contact</h2>
         <p class="email">Email: me@haseeb.world</p>
      </div>
   </div>
</body>

<style>
   .header {
      padding-top: 3%;
   }

   .email {
      padding-bottom: 3%;
   }

   a {
      text-decoration: none;
   }

   .container {
      text-align: center;
      border-radius: 2%;
      margin-top: 5%;
      background-color: <%- constants.colours.secondary %>;
   }

   h2,
   p {
      color: <%- constants.colours.text %>;
   }
</style>
