<!-- @format -->
<%- include('../partials/base.ejs', { constants }) %>

<body>
   <div class="container">
      <div class="header">
         <h2 class="title">I'm Haseeb.</h2>
         <p class="quick-bio">
            18 Years Old. Living in Birmingham, England. Big things.
         </p>
      </div>
      <div class="main">
         <br />
         <h2>Me</h2>
         <p>
            Programmer. Salesman. Business Strategist. Team/People Management.
            Author. Student of Philosophy & Human Psychology.
         </p>
         <br />

         <br />
         <h2>Contact</h2>
         <p class="email">me@haseeb.world</p>
      </div>
   </div>
</body>

<style>
   .header {
      padding-top: 3%;
   }

   .email {
      padding-bottom: 3%;
   }

   a {
      text-decoration: none;
   }

   .container {
      text-align: center;
      border-radius: 2%;
      margin-top: 5%;
      background-color: <%- constants.colours.secondary %>;
   }

   h2,
   p {
      color: <%- constants.colours.text %>;
   }
</style>
